.activities {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-activities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
}

.img-activities {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.card-activities {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-activities:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.title-activities {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 80%;
}

/* Block 2 Image */

.block-activities2 {
  width: 23%;
  height: 600px;
}

.img-activities2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0 0;
}

.card-activities2 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-activities2:hover {
  cursor: pointer;
  transform: scale(1.06);
}

@media screen and (max-width: 768px) {
  .activities {
    margin-bottom: 0;
    margin-top: 0;
  }
  .activities h2 {
    margin: 0;
  }
  .block-activities {
    flex-direction: column;
    height: auto;
    padding: 5%;
  }
  .block-activities2 {
    width: 100%;
    margin-bottom: 50px;
  }
  .card-activities2 {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .card-activities {
    width: 100%;
    margin-bottom: 50px;
  }
  .img-activities2,
  .img-activities {
    height: 200px;
  }
}
