.filter {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0;
}

.title-filter {
  margin-right: 20px;
}

.filter-text-icon {
  border: 2px solid var(--grey);
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-filter {
  width: 52px;
  height: 52px;
  border-radius: 52px;
  color: var(--main);
  background: var(--light);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.text-filter {
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-text-icon:hover > .text-filter {
  color: var(--main);
}

.filter-text-icon:hover > .icon-filter {
  color: white;
  background: var(--main);
}
.flexaroundmobil {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* INFO */
.info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info i {
  color: var(--main);
}

.icon-info {
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey);
  border-radius: 25px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .filter {
    margin-top: 10px;
  }
  .flexaroundmobil {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mobilFiltreWrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-text-icon {
    margin-bottom: 20px;
  }
  .info {
    padding-left: 5%;
    padding-right: 5%;
  }
  .info p {
    line-height: normal;
  }
}
