.footer {
  height: 300px;
  margin-top: 100px;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-footer-propos {
  height: 150px;
  margin-left: 1%;
}

.block-footer-housing {
  height: 150px;
}

.block-footer-asistance {
  height: 150px;
  margin-right: 380px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
    margin-top: 0;
  }
  .block-footer-propos {
    margin-left: 0;
  }
  .block-footer-asistance {
    width: 200px;
  }
}
