/* HEADER */
.header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAVBAR */
.header-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  display: flex;
}

.header nav a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  width: 140px;
  height: 99px;
}

.header nav a:hover {
  color: var(--main);
  transition: color 0.5s;
  border-top: 1px solid var(--main);
  display: flex;
  justify-content: center;
}

.header nav a.active {
  color: var(--main);
  transition: color 0.5s;
  border-top: 1px solid transparent;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .header-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 5px solid var(--grey);
  }
  .header-logo {
    margin-left: 100px;
  }

  .header nav a {
  }
  .header nav a:active {
    border-top: none;
    border-bottom: 1px solid var(--main);
  }
  .header nav a:hover {
    border-top: none;
    border-bottom: 1px solid var(--main);
  }
}
