/* SEARCH */
.search {
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid var(--grey);
}
.title-content-search {
  margin-bottom: 10px;
}
.title-content-search h1 {
  margin: 0;
}

/* ICON */
.icon-search {
  height: 50px;
  width: 60px;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

/* INPUT */
.input-search {
  height: 50px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 38px;
}

.input-search input {
  font-size: 16px;
  color: var(--black);
  font-weight: bold;
  border: none;
}

/* LABEL SEARCH */
.label-search {
  height: 50px;
  width: 140px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main);
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.label-search:hover {
  color: var(--main);
  background-color: var(--grey);
}

.desktopNone {
  display: none;
}

@media screen and (max-width: 768px) {
  .search {
    width: 200px;
  }
  .title-content-search {
    margin-top: 30px;
    justify-content: center;
  }
  .title-content-search h1 {
    width: 100%;
  }

  .label-search {
    width: 50px;
    border-radius: 15px;
  }
  .mobileNone {
    display: none;
  }
  .desktopNone {
    display: block;
  }
  .input-search {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .borderSearch {
    width: auto;
    border: none;
    padding-right: 5%;
    padding-left: 5%;
  }
}
