* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
}

:root {
  --main: #0065fc;
  --light: #deebff;
  --grey: #f2f2f2;
  --black: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  .marginFiltre {
    padding-left: 5%;
  }
}
